<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>User Login page</h1>

    <a href="/login"> <button>Log in Now!</button></a>
    <a href="/register"> <button>Register Now!</button></a>
   
</body>

</html>